name: Lab1 CI/CD
on:
  push:
    branches: [ master ]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '19'
          cache: 'maven'

      - name: Build project
        run: mvn clean package -DskipTests

      - name: Move artifact
        run: mkdir artifacts && cp target/*.jar artifacts

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: jar
          path: artifacts
          retention-days: 1

  test:
    name: Test
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '19'
          cache: 'maven'

      - name: Build project
        run: mvn clean package -DskipTests

      - name: Run tests
        run: mvn test

  integrationTest:
    name: Create docker container and run integration tests
    needs: [ test ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: docker/setup-buildx-action@v2

      - uses: actions/download-artifact@v3
        with:
          name: jar
          path: artifacts/

      - name: Build images
        run: docker compose build

      - name: Run containers
        timeout-minutes: 5
        run: docker compose up -d

      - name: Run API Tests
        uses: matt-ball/newman-action@master
        with:
          collection: postman/collection.json
          environment: postman/local-environment.json
          delayRequest: 500
          reporters: '[ "cli" ]'

      - name: Stop containers
        if: always()
        continue-on-error: true
        run: docker compose down -v